
.container-footer{
    background-color: #2A5067;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 2px solid white;
    margin: 0 90px;
}
ul {
    display: flex;
    justify-content: space-between;
}
li>svg{
    color: white;
    width: 22px;
    height: 22px;
}
li>a{
    color: white;
    font-size: 11px;
    text-decoration: none;
}

.pages{
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    margin: 0 70px;
}
.time{
    font-size: 11px;
}