
.slider-container{
    background-color: transparent;
     background-image: linear-gradient(180deg, #CCE1EF 0%, var(--e-global-color-4cc7f636 ) 80%);
   
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.reviews{
    display: flex;
    margin: 35px 0;
    gap: 39px;
}
.review{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.note {
    font-size: 25px;
    font-weight: 600;
    color: var(--e-global-color-4a30db00);
    
}
.note > .trustpilot{
    width: 90px;
}

.description{
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5em;
    color: var(--e-global-color-4a30db00);
    opacity: 0.8;
    margin:25px 0;

  }



.pc > img {
    width: 533px;
    height: 491px;
}

.btns{
    display: flex;
}

.simuler{
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    color: var(--e-global-color-4a30db00);
    margin-left: 20px;
}

.simuler:hover{
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    color:var(--e-global-color-secondary);
}
.flesh {
    font-size: 1.6em;
    position: relative;
    top: 9px;
}

#spin {
    color:var(--e-global-color-secondary);
  }
  #spin:after {
    content:"";
    animation: spin 9s linear infinite;
  }
  @keyframes spin {
    0% { content:"plus de conseil"}
    100% { content:"moins de frais"}
}


/*** Section 2**/
.container-infos{
    background-color: transparent;
    background-image: linear-gradient(180deg, #CCE1EF 0%, var(--e-global-color-4cc7f636 ) 80%);
}
.infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 108px;
    padding: 75px 0;

}
.trophees-infos >img{
    width: 301px;
    height: 129px;
}

.date-infos{
    border-left: solid var(--e-global-color-4a30db00);
    margin: 0 2%;
}
.date-infos> h2{
    font-size: 16px;
    font-weight: 700;
    color: var(--e-global-color-4a30db00);
    padding-left: 20px;
    line-height: 26px;
}

.date-infos>p{
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: var(--e-global-color-4a30db00);
    padding-left: 20px;
}


.green-infos{
     padding: 25px ;
    background-color: #5FB800;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    
}

.green-infos>h2{
    font-size: 16px;
    font-weight: 700;
}

.green-infos>p{
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}
.green-infos>svg{
    font-size: 32px;
}

/** Mission **/


.not-equipe {
    position: absolute;
    top: 14%;
    right: 72%;
}
.equipe-1 {
    background-color: var(--e-global-color-secondary);
    color: #fff;
    font-size: 43px;
    transform: rotate(352deg);
    text-align: center;
    width: 337px;
    margin: 5px 0;
    font-weight: 600;
}

.equipe-2{
    background-color: var(--e-global-color-secondary);
    color: #fff;
    font-size: 43px;
    transform: rotate(352deg);
    text-align: center;
    width: 284px;
    font-weight: 600;
    margin-left: 32%;
}


.container-missions{
    background-color: transparent;
    background-image: linear-gradient(0deg, #CCE1EF 0%, var(--e-global-color-4cc7f636 ) 80%);
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    padding: 140px 50px;
    position: relative;
}
.mission-inofs>p{
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: var(--e-global-color-4a30db00);
    padding: 10px 0;
}


.mission > img {
    width: 500px;
    height: 319px;
    object-fit: contain;
}

.mission-recommandation{
    flex-direction: column;
}

li {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: var(--e-global-color-4a30db00);
    padding: 5px 0;
}

.mission-icon>svg {
    color: var(--e-global-color-secondary );
    margin-right: 10px;
}




/*****/

.lesAvis{
    background-color: transparent;
    background-image: linear-gradient(180deg, #CCE1EF 0%, var(--e-global-color-4cc7f636 ) 80%);

 
}